# Imports

In [1]:
import pandas as pd
import numpy as np
from pycaret.classification import *
from sklearn.model_selection import train_test_split

# The dataset

In [ ]:
df = pd.read_csv("combined_simulated.csv")

In [93]:
# Convert 'UTC_TIME' column to datetime format and sort by time
df['UTC_TIME'] = pd.to_datetime(df['UTC_TIME'])
df.sort_values(by=['FLIGHT_INSTANCE', 'UTC_TIME'], inplace=True)

In [94]:
# Dropping irrelvant columns
df = df.drop(columns=['FLIGHT_PHASE_COUNT', 'Flight','MSN', 'FLIGHT_INSTANCE'])

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376554 entries, 0 to 337922
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   UTC_TIME                   376554 non-null  datetime64[ns]
 1   FUEL_USED_2                376554 non-null  float64
 2   FUEL_USED_3                376554 non-null  float64
 3   FUEL_USED_4                376554 non-null  float64
 4   FW_GEO_ALTITUDE            376554 non-null  float64
 5   VALUE_FOB                  376554 non-null  float64
 6   VALUE_FUEL_QTY_CT          376554 non-null  float64
 7   VALUE_FUEL_QTY_FT1         376554 non-null  float64
 8   VALUE_FUEL_QTY_FT2         376554 non-null  float64
 9   VALUE_FUEL_QTY_FT3         376554 non-null  float64
 10  VALUE_FUEL_QTY_FT4         376554 non-null  float64
 11  VALUE_FUEL_QTY_LXT         376554 non-null  float64
 12  VALUE_FUEL_QTY_RXT         376554 non-null  float64
 13  FUEL_USED_1                376554 non-null  float64
 14  NEW_FLIGHT                 376554 non-null  bool
 15  FLIGHT_ID                  376554 non-null  object
 16  START_FOB                  376554 non-null  float64
 17  TOTAL_FUEL_USED            376554 non-null  float64
 18  EXPECTED_FOB               376554 non-null  float64
 19  FOB_DIFFERENCE             376554 non-null  float64
 20  FOB_CHANGE                 376554 non-null  float64
 21  EXPECTED_FOB_CHANGE        376554 non-null  float64
 22  FUEL_LEAK_RATE             376554 non-null  float64
 23  TOTAL_FUEL_LW              376554 non-null  float64
 24  TOTAL_FUEL_RW              376554 non-null  float64
 25  LW_RW_DIFF                 376554 non-null  float64
 26  FUEL_IN_TANKS              376554 non-null  float64
 27  CALC_VALUE_FOB_DIFF        376554 non-null  float64
 28  START_FOB_VS_FOB_FUELUSED  376554 non-null  float64
 29  ALTITUDE_DIFF              376554 non-null  float64
 30  LEAK_FLOW_FLAG             376554 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(27), int64(1), object(1)
memory usage: 89.4+ MB

# Modeling

In [140]:
# 2️⃣ Select all features (except the target)
features = df.columns.tolist()
features.remove('LEAK_FLOW_FLAG')  # Remove target column from features

# Target variable
target = 'LEAK_FLOW_FLAG'

In [141]:
# Create lag features (memory for time-series)
def create_lag_features(df, features, lags=[1, 3, 5, 10]):
    """
    Adds past values (lags) as new features to help capture time dependency.
    """
    df = df.copy()
    for lag in lags:
        for feature in features:
            df[f'{feature}_lag{lag}'] = df.groupby('FLIGHT_ID')[feature].shift(lag)
    return df

df = create_lag_features(df, features, lags=[1, 3, 5, 10])

In [142]:
# Drop rows with NaN values (due to lagging)
df.dropna(inplace=True)

In [143]:
# ROW LEVEL UNDER SAMPLING
# # Keeping 3x as many "No Leak" samples as leak samples
# from sklearn.utils import resample
# # Undersample "No Leak" Cases to Balance the Dataset
# df_leak = df[df["LEAK_FLOW_FLAG"] == 1]
# df_no_leak = df[df["LEAK_FLOW_FLAG"] == 0]

# # Keep 3x as many "No Leak" samples as "Leak" samples
# df_no_leak_balanced = resample(df_no_leak, 
#                                replace=False,  # No replacement (just reducing data)
#                                n_samples=len(df_leak) * 3,  
#                                random_state=42)

# Combine balanced dataset
#df_balanced = pd.concat([df_leak, df_no_leak_balanced])

In [210]:
# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the IQR to find flights with outlier-level leaks
Q1 = flight_leak_counts[flight_leak_counts > 0].quantile(0.25)
Q3 = flight_leak_counts[flight_leak_counts > 0].quantile(0.75)
IQR = Q3 - Q1

# Define outlier threshold (Q3 + 1.5 * IQR)
outlier_threshold = Q3 + (1.5 * IQR)
print(f"Outlier Threshold for Leaks per Flight: {outlier_threshold:.2f}")

# ✅ Select only flights where leaks are higher than the outlier threshold
flights_with_leaks = flight_leak_counts[flight_leak_counts > outlier_threshold].index

# ✅ Reduce No-Leak Flights Even More (1.5x the number of leak flights)
num_leak_flights = len(flights_with_leaks)  # Total number of high-leak flights
num_no_leak_flights = int(num_leak_flights * 1.5)  # Reduce no-leak flights even more

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Outlier Threshold for Leaks per Flight: 167.75

In [211]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    90.215155
1     9.784845
Name: proportion, dtype: float64

In [212]:
# 4️⃣ Perform Flight-Level Undersampling to Balance the Dataset

# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the IQR to find flights with outlier-level leaks
Q1 = flight_leak_counts[flight_leak_counts > 0].quantile(0.25)
Q3 = flight_leak_counts[flight_leak_counts > 0].quantile(0.75)
IQR = Q3 - Q1

# Define outlier threshold (Q3 + 1.5 * IQR)
outlier_threshold = Q3 + (1.5 * IQR)
print(f"Outlier Threshold for Leaks per Flight: {outlier_threshold:.2f}")

# ✅ Select only flights where leaks are higher than the outlier threshold
flights_with_leaks = flight_leak_counts[flight_leak_counts > outlier_threshold].index

# ✅ Further Reduce No-Leak Flights (Now 1.2x instead of 1.5x)
num_leak_flights = len(flights_with_leaks)  # Total number of high-leak flights
num_no_leak_flights = int(num_leak_flights * 1.2)  # Reduce no-leak flights even more

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Outlier Threshold for Leaks per Flight: 167.75

In [213]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    89.997596
1    10.002404
Name: proportion, dtype: float64

In [214]:
# 4️⃣ Perform Flight-Level Undersampling to Balance the Dataset

# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the IQR to find flights with outlier-level leaks
Q1 = flight_leak_counts[flight_leak_counts > 0].quantile(0.25)
Q3 = flight_leak_counts[flight_leak_counts > 0].quantile(0.75)
IQR = Q3 - Q1

# Define outlier threshold (Q3 + 1.5 * IQR)
outlier_threshold = Q3 + (1.5 * IQR)
print(f"Outlier Threshold for Leaks per Flight: {outlier_threshold:.2f}")

# ✅ Select only flights where leaks are higher than the outlier threshold
flights_with_leaks = flight_leak_counts[flight_leak_counts > outlier_threshold].index

# ✅ Aggressively Reduce No-Leak Flights (Now 1.0x instead of 1.2x)
num_leak_flights = len(flights_with_leaks)  # Total number of high-leak flights
num_no_leak_flights = int(num_leak_flights * 1.0)  # Keep only as many no-leak flights as leak flights

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Outlier Threshold for Leaks per Flight: 167.75

In [215]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    89.931648
1    10.068352
Name: proportion, dtype: float64

In [216]:
# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the IQR to find flights with outlier-level leaks
Q1 = flight_leak_counts[flight_leak_counts > 0].quantile(0.25)
Q3 = flight_leak_counts[flight_leak_counts > 0].quantile(0.75)
IQR = Q3 - Q1

# Define outlier threshold (Q3 + 1.5 * IQR)
outlier_threshold = Q3 + (1.5 * IQR)
print(f"Outlier Threshold for Leaks per Flight: {outlier_threshold:.2f}")

# ✅ Select only flights where leaks are higher than the outlier threshold
flights_with_leaks = flight_leak_counts[flight_leak_counts > outlier_threshold].index

# ✅ EXTREME Reduction: Only keep 0.5x as many no-leak flights as leak flights
num_leak_flights = len(flights_with_leaks)  # Total number of high-leak flights
num_no_leak_flights = int(num_leak_flights * 0.01)  # Cut down no-leak flights aggressively

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Outlier Threshold for Leaks per Flight: 167.75

In [217]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    86.996602
1    13.003398
Name: proportion, dtype: float64

In [218]:
# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the Mean Number of Leaks per Flight
mean_leaks_per_flight = flight_leak_counts[flight_leak_counts > 0].median()
print(f"Mean Number of Leaks per Flight: {mean_leaks_per_flight:.2f}")

# ✅ Select flights where the number of leaks is higher than the mean
flights_with_leaks = flight_leak_counts[flight_leak_counts > mean_leaks_per_flight].index

# ✅ EXTREME Reduction: Only keep 0.5x as many no-leak flights as leak flights
num_leak_flights = len(flights_with_leaks)  # Total number of high-leak flights
num_no_leak_flights = int(num_leak_flights * 0.01)  # Cut down no-leak flights aggressively

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Mean Number of Leaks per Flight: 33.00

In [219]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    88.509981
1    11.490019
Name: proportion, dtype: float64

In [226]:

# Count leaks per flight
flight_leak_counts = df.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].sum()

# ✅ Compute the Mean Number of Leaks per Flight
mean_leaks_per_flight = flight_leak_counts[flight_leak_counts > 0].mean()
print(f"Mean Number of Leaks per Flight: {mean_leaks_per_flight:.2f}")

# ✅ Select flights where the number of leaks is higher than the median
flights_with_leaks = flight_leak_counts[flight_leak_counts > mean_leaks_per_flight].index

# ✅ EXTREME Reduction: Only keep 1% as many no-leak flights as leak flights
num_leak_flights = len(flights_with_leaks)  # Total number of flights with leaks
num_no_leak_flights = int(num_leak_flights * 0.01)  # Cut down no-leak flights aggressively

# ✅ Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df[df["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

Mean Number of Leaks per Flight: 66.87

In [227]:
# Keep only selected flights (Preserves sequences!)
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    85.797351
1    14.202649
Name: proportion, dtype: float64

In [228]:
df_balanced.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 35944 entries, 19979 to 345135
Data columns (total 631 columns):
 #    Column                                 Non-Null Count  Dtype
---   ------                                 --------------  -----
 0    UTC_TIME                               35944 non-null  datetime64[ns]
 1    FUEL_USED_2                            35944 non-null  float64
 2    FUEL_USED_3                            35944 non-null  float64
 3    FUEL_USED_4                            35944 non-null  float64
 4    FW_GEO_ALTITUDE                        35944 non-null  float64
 5    VALUE_FOB                              35944 non-null  float64
 6    VALUE_FUEL_QTY_CT                      35944 non-null  float64
 7    VALUE_FUEL_QTY_FT1                     35944 non-null  float64
 8    VALUE_FUEL_QTY_FT2                     35944 non-null  float64
 9    VALUE_FUEL_QTY_FT3                     35944 non-null  float64
 10   VALUE_FUEL_QTY_FT4                     35944 non-null  float64
 11   VALUE_FUEL_QTY_LXT                     35944 non-null  float64
 12   VALUE_FUEL_QTY_RXT                     35944 non-null  float64
 13   FUEL_USED_1                            35944 non-null  float64
 14   NEW_FLIGHT                             35944 non-null  bool
 15   FLIGHT_ID                              35944 non-null  object
 16   START_FOB                              35944 non-null  float64
 17   TOTAL_FUEL_USED                        35944 non-null  float64
 18   EXPECTED_FOB                           35944 non-null  float64
 19   FOB_DIFFERENCE                         35944 non-null  float64
 20   FOB_CHANGE                             35944 non-null  float64
 21   EXPECTED_FOB_CHANGE                    35944 non-null  float64
 22   FUEL_LEAK_RATE                         35944 non-null  float64
 23   TOTAL_FUEL_LW                          35944 non-null  float64
 24   TOTAL_FUEL_RW                          35944 non-null  float64
 25   LW_RW_DIFF                             35944 non-null  float64
 26   FUEL_IN_TANKS                          35944 non-null  float64
 27   CALC_VALUE_FOB_DIFF                    35944 non-null  float64
 28   START_FOB_VS_FOB_FUELUSED              35944 non-null  float64
 29   ALTITUDE_DIFF                          35944 non-null  float64
 30   LEAK_FLOW_FLAG                         35944 non-null  int64
 31   UTC_TIME_lag1                          35944 non-null  datetime64[ns]
 32   FUEL_USED_2_lag1                       35944 non-null  float64
 33   FUEL_USED_3_lag1                       35944 non-null  float64
 34   FUEL_USED_4_lag1                       35944 non-null  float64
 35   FW_GEO_ALTITUDE_lag1                   35944 non-null  float64
 36   VALUE_FOB_lag1                         35944 non-null  float64
 37   VALUE_FUEL_QTY_CT_lag1                 35944 non-null  float64
 38   VALUE_FUEL_QTY_FT1_lag1                35944 non-null  float64
 39   VALUE_FUEL_QTY_FT2_lag1                35944 non-null  float64
 40   VALUE_FUEL_QTY_FT3_lag1                35944 non-null  float64
 41   VALUE_FUEL_QTY_FT4_lag1                35944 non-null  float64
 42   VALUE_FUEL_QTY_LXT_lag1                35944 non-null  float64
 43   VALUE_FUEL_QTY_RXT_lag1                35944 non-null  float64
 44   FUEL_USED_1_lag1                       35944 non-null  float64
 45   NEW_FLIGHT_lag1                        35944 non-null  object
 46   FLIGHT_ID_lag1                         35944 non-null  object
 47   START_FOB_lag1                         35944 non-null  float64
 48   TOTAL_FUEL_USED_lag1                   35944 non-null  float64
 49   EXPECTED_FOB_lag1                      35944 non-null  float64
 50   FOB_DIFFERENCE_lag1                    35944 non-null  float64
 51   FOB_CHANGE_lag1                        35944 non-null  float64
 52   EXPECTED_FOB_CHANGE_lag1               35944 non-null  float64
 53   FUEL_LEAK_RATE_lag1                    35944 non-null  float64
 54   TOTAL_FUEL_LW_lag1                     35944 non-null  float64
 55   TOTAL_FUEL_RW_lag1                     35944 non-null  float64
 56   LW_RW_DIFF_lag1                        35944 non-null  float64
 57   FUEL_IN_TANKS_lag1                     35944 non-null  float64
 58   CALC_VALUE_FOB_DIFF_lag1               35944 non-null  float64
 59   START_FOB_VS_FOB_FUELUSED_lag1         35944 non-null  float64
 60   ALTITUDE_DIFF_lag1                     35944 non-null  float64
 61   UTC_TIME_lag3                          35944 non-null  datetime64[ns]
 62   FUEL_USED_2_lag3                       35944 non-null  float64
 63   FUEL_USED_3_lag3                       35944 non-null  float64
 64   FUEL_USED_4_lag3                       35944 non-null  float64
 65   FW_GEO_ALTITUDE_lag3                   35944 non-null  float64
 66   VALUE_FOB_lag3                         35944 non-null  float64
 67   VALUE_FUEL_QTY_CT_lag3                 35944 non-null  float64
 68   VALUE_FUEL_QTY_FT1_lag3                35944 non-null  float64
 69   VALUE_FUEL_QTY_FT2_lag3                35944 non-null  float64
 70   VALUE_FUEL_QTY_FT3_lag3                35944 non-null  float64
 71   VALUE_FUEL_QTY_FT4_lag3                35944 non-null  float64
 72   VALUE_FUEL_QTY_LXT_lag3                35944 non-null  float64
 73   VALUE_FUEL_QTY_RXT_lag3                35944 non-null  float64
 74   FUEL_USED_1_lag3                       35944 non-null  float64
 75   NEW_FLIGHT_lag3                        35944 non-null  object
 76   FLIGHT_ID_lag3                         35944 non-null  object
 77   START_FOB_lag3                         35944 non-null  float64
 78   TOTAL_FUEL_USED_lag3                   35944 non-null  float64
 79   EXPECTED_FOB_lag3                      35944 non-null  float64
 80   FOB_DIFFERENCE_lag3                    35944 non-null  float64
 81   FOB_CHANGE_lag3                        35944 non-null  float64
 82   EXPECTED_FOB_CHANGE_lag3               35944 non-null  float64
 83   FUEL_LEAK_RATE_lag3                    35944 non-null  float64
 84   TOTAL_FUEL_LW_lag3                     35944 non-null  float64
 85   TOTAL_FUEL_RW_lag3                     35944 non-null  float64
 86   LW_RW_DIFF_lag3                        35944 non-null  float64
 87   FUEL_IN_TANKS_lag3                     35944 non-null  float64
 88   CALC_VALUE_FOB_DIFF_lag3               35944 non-null  float64
 89   START_FOB_VS_FOB_FUELUSED_lag3         35944 non-null  float64
 90   ALTITUDE_DIFF_lag3                     35944 non-null  float64
 91   UTC_TIME_lag5                          35944 non-null  datetime64[ns]
 92   FUEL_USED_2_lag5                       35944 non-null  float64
 93   FUEL_USED_3_lag5                       35944 non-null  float64
 94   FUEL_USED_4_lag5                       35944 non-null  float64
 95   FW_GEO_ALTITUDE_lag5                   35944 non-null  float64
 96   VALUE_FOB_lag5                         35944 non-null  float64
 97   VALUE_FUEL_QTY_CT_lag5                 35944 non-null  float64
 98   VALUE_FUEL_QTY_FT1_lag5                35944 non-null  float64
 99   VALUE_FUEL_QTY_FT2_lag5                35944 non-null  float64
 100  VALUE_FUEL_QTY_FT3_lag5                35944 non-null  float64
 101  VALUE_FUEL_QTY_FT4_lag5                35944 non-null  float64
 102  VALUE_FUEL_QTY_LXT_lag5                35944 non-null  float64
 103  VALUE_FUEL_QTY_RXT_lag5                35944 non-null  float64
 104  FUEL_USED_1_lag5                       35944 non-null  float64
 105  NEW_FLIGHT_lag5                        35944 non-null  object
 106  FLIGHT_ID_lag5                         35944 non-null  object
 107  START_FOB_lag5                         35944 non-null  float64
 108  TOTAL_FUEL_USED_lag5                   35944 non-null  float64
 109  EXPECTED_FOB_lag5                      35944 non-null  float64
 110  FOB_DIFFERENCE_lag5                    35944 non-null  float64
 111  FOB_CHANGE_lag5                        35944 non-null  float64
 112  EXPECTED_FOB_CHANGE_lag5               35944 non-null  float64
 113  FUEL_LEAK_RATE_lag5                    35944 non-null  float64
 114  TOTAL_FUEL_LW_lag5                     35944 non-null  float64
 115  TOTAL_FUEL_RW_lag5                     35944 non-null  float64
 116  LW_RW_DIFF_lag5                        35944 non-null  float64
 117  FUEL_IN_TANKS_lag5                     35944 non-null  float64
 118  CALC_VALUE_FOB_DIFF_lag5               35944 non-null  float64
 119  START_FOB_VS_FOB_FUELUSED_lag5         35944 non-null  float64
 120  ALTITUDE_DIFF_lag5                     35944 non-null  float64
 121  UTC_TIME_lag10                         35944 non-null  datetime64[ns]
 122  FUEL_USED_2_lag10                      35944 non-null  float64
 123  FUEL_USED_3_lag10                      35944 non-null  float64
 124  FUEL_USED_4_lag10                      35944 non-null  float64
 125  FW_GEO_ALTITUDE_lag10                  35944 non-null  float64
 126  VALUE_FOB_lag10                        35944 non-null  float64
 127  VALUE_FUEL_QTY_CT_lag10                35944 non-null  float64
 128  VALUE_FUEL_QTY_FT1_lag10               35944 non-null  float64
 129  VALUE_FUEL_QTY_FT2_lag10               35944 non-null  float64
 130  VALUE_FUEL_QTY_FT3_lag10               35944 non-null  float64
 131  VALUE_FUEL_QTY_FT4_lag10               35944 non-null  float64
 132  VALUE_FUEL_QTY_LXT_lag10               35944 non-null  float64
 133  VALUE_FUEL_QTY_RXT_lag10               35944 non-null  float64
 134  FUEL_USED_1_lag10                      35944 non-null  float64
 135  NEW_FLIGHT_lag10                       35944 non-null  object
 136  FLIGHT_ID_lag10                        35944 non-null  object
 137  START_FOB_lag10                        35944 non-null  float64
 138  TOTAL_FUEL_USED_lag10                  35944 non-null  float64
 139  EXPECTED_FOB_lag10                     35944 non-null  float64
 140  FOB_DIFFERENCE_lag10                   35944 non-null  float64
 141  FOB_CHANGE_lag10                       35944 non-null  float64
 142  EXPECTED_FOB_CHANGE_lag10              35944 non-null  float64
 143  FUEL_LEAK_RATE_lag10                   35944 non-null  float64
 144  TOTAL_FUEL_LW_lag10                    35944 non-null  float64
 145  TOTAL_FUEL_RW_lag10                    35944 non-null  float64
 146  LW_RW_DIFF_lag10                       35944 non-null  float64
 147  FUEL_IN_TANKS_lag10                    35944 non-null  float64
 148  CALC_VALUE_FOB_DIFF_lag10              35944 non-null  float64
 149  START_FOB_VS_FOB_FUELUSED_lag10        35944 non-null  float64
 150  ALTITUDE_DIFF_lag10                    35944 non-null  float64
 151  UTC_TIME_lag1_lag1                     35944 non-null  datetime64[ns]
 152  FUEL_USED_2_lag1_lag1                  35944 non-null  float64
 153  FUEL_USED_3_lag1_lag1                  35944 non-null  float64
 154  FUEL_USED_4_lag1_lag1                  35944 non-null  float64
 155  FW_GEO_ALTITUDE_lag1_lag1              35944 non-null  float64
 156  VALUE_FOB_lag1_lag1                    35944 non-null  float64
 157  VALUE_FUEL_QTY_CT_lag1_lag1            35944 non-null  float64
 158  VALUE_FUEL_QTY_FT1_lag1_lag1           35944 non-null  float64
 159  VALUE_FUEL_QTY_FT2_lag1_lag1           35944 non-null  float64
 160  VALUE_FUEL_QTY_FT3_lag1_lag1           35944 non-null  float64
 161  VALUE_FUEL_QTY_FT4_lag1_lag1           35944 non-null  float64
 162  VALUE_FUEL_QTY_LXT_lag1_lag1           35944 non-null  float64
 163  VALUE_FUEL_QTY_RXT_lag1_lag1           35944 non-null  float64
 164  FUEL_USED_1_lag1_lag1                  35944 non-null  float64
 165  NEW_FLIGHT_lag1_lag1                   35944 non-null  object
 166  FLIGHT_ID_lag1_lag1                    35944 non-null  object
 167  START_FOB_lag1_lag1                    35944 non-null  float64
 168  TOTAL_FUEL_USED_lag1_lag1              35944 non-null  float64
 169  EXPECTED_FOB_lag1_lag1                 35944 non-null  float64
 170  FOB_DIFFERENCE_lag1_lag1               35944 non-null  float64
 171  FOB_CHANGE_lag1_lag1                   35944 non-null  float64
 172  EXPECTED_FOB_CHANGE_lag1_lag1          35944 non-null  float64
 173  FUEL_LEAK_RATE_lag1_lag1               35944 non-null  float64
 174  TOTAL_FUEL_LW_lag1_lag1                35944 non-null  float64
 175  TOTAL_FUEL_RW_lag1_lag1                35944 non-null  float64
 176  LW_RW_DIFF_lag1_lag1                   35944 non-null  float64
 177  FUEL_IN_TANKS_lag1_lag1                35944 non-null  float64
 178  CALC_VALUE_FOB_DIFF_lag1_lag1          35944 non-null  float64
 179  START_FOB_VS_FOB_FUELUSED_lag1_lag1    35944 non-null  float64
 180  ALTITUDE_DIFF_lag1_lag1                35944 non-null  float64
 181  UTC_TIME_lag3_lag1                     35944 non-null  datetime64[ns]
 182  FUEL_USED_2_lag3_lag1                  35944 non-null  float64
 183  FUEL_USED_3_lag3_lag1                  35944 non-null  float64
 184  FUEL_USED_4_lag3_lag1                  35944 non-null  float64
 185  FW_GEO_ALTITUDE_lag3_lag1              35944 non-null  float64
 186  VALUE_FOB_lag3_lag1                    35944 non-null  float64
 187  VALUE_FUEL_QTY_CT_lag3_lag1            35944 non-null  float64
 188  VALUE_FUEL_QTY_FT1_lag3_lag1           35944 non-null  float64
 189  VALUE_FUEL_QTY_FT2_lag3_lag1           35944 non-null  float64
 190  VALUE_FUEL_QTY_FT3_lag3_lag1           35944 non-null  float64
 191  VALUE_FUEL_QTY_FT4_lag3_lag1           35944 non-null  float64
 192  VALUE_FUEL_QTY_LXT_lag3_lag1           35944 non-null  float64
 193  VALUE_FUEL_QTY_RXT_lag3_lag1           35944 non-null  float64
 194  FUEL_USED_1_lag3_lag1                  35944 non-null  float64
 195  NEW_FLIGHT_lag3_lag1                   35944 non-null  object
 196  FLIGHT_ID_lag3_lag1                    35944 non-null  object
 197  START_FOB_lag3_lag1                    35944 non-null  float64
 198  TOTAL_FUEL_USED_lag3_lag1              35944 non-null  float64
 199  EXPECTED_FOB_lag3_lag1                 35944 non-null  float64
 200  FOB_DIFFERENCE_lag3_lag1               35944 non-null  float64
 201  FOB_CHANGE_lag3_lag1                   35944 non-null  float64
 202  EXPECTED_FOB_CHANGE_lag3_lag1          35944 non-null  float64
 203  FUEL_LEAK_RATE_lag3_lag1               35944 non-null  float64
 204  TOTAL_FUEL_LW_lag3_lag1                35944 non-null  float64
 205  TOTAL_FUEL_RW_lag3_lag1                35944 non-null  float64
 206  LW_RW_DIFF_lag3_lag1                   35944 non-null  float64
 207  FUEL_IN_TANKS_lag3_lag1                35944 non-null  float64
 208  CALC_VALUE_FOB_DIFF_lag3_lag1          35944 non-null  float64
 209  START_FOB_VS_FOB_FUELUSED_lag3_lag1    35944 non-null  float64
 210  ALTITUDE_DIFF_lag3_lag1                35944 non-null  float64
 211  UTC_TIME_lag5_lag1                     35944 non-null  datetime64[ns]
 212  FUEL_USED_2_lag5_lag1                  35944 non-null  float64
 213  FUEL_USED_3_lag5_lag1                  35944 non-null  float64
 214  FUEL_USED_4_lag5_lag1                  35944 non-null  float64
 215  FW_GEO_ALTITUDE_lag5_lag1              35944 non-null  float64
 216  VALUE_FOB_lag5_lag1                    35944 non-null  float64
 217  VALUE_FUEL_QTY_CT_lag5_lag1            35944 non-null  float64
 218  VALUE_FUEL_QTY_FT1_lag5_lag1           35944 non-null  float64
 219  VALUE_FUEL_QTY_FT2_lag5_lag1           35944 non-null  float64
 220  VALUE_FUEL_QTY_FT3_lag5_lag1           35944 non-null  float64
 221  VALUE_FUEL_QTY_FT4_lag5_lag1           35944 non-null  float64
 222  VALUE_FUEL_QTY_LXT_lag5_lag1           35944 non-null  float64
 223  VALUE_FUEL_QTY_RXT_lag5_lag1           35944 non-null  float64
 224  FUEL_USED_1_lag5_lag1                  35944 non-null  float64
 225  NEW_FLIGHT_lag5_lag1                   35944 non-null  object
 226  FLIGHT_ID_lag5_lag1                    35944 non-null  object
 227  START_FOB_lag5_lag1                    35944 non-null  float64
 228  TOTAL_FUEL_USED_lag5_lag1              35944 non-null  float64
 229  EXPECTED_FOB_lag5_lag1                 35944 non-null  float64
 230  FOB_DIFFERENCE_lag5_lag1               35944 non-null  float64
 231  FOB_CHANGE_lag5_lag1                   35944 non-null  float64
 232  EXPECTED_FOB_CHANGE_lag5_lag1          35944 non-null  float64
 233  FUEL_LEAK_RATE_lag5_lag1               35944 non-null  float64
 234  TOTAL_FUEL_LW_lag5_lag1                35944 non-null  float64
 235  TOTAL_FUEL_RW_lag5_lag1                35944 non-null  float64
 236  LW_RW_DIFF_lag5_lag1                   35944 non-null  float64
 237  FUEL_IN_TANKS_lag5_lag1                35944 non-null  float64
 238  CALC_VALUE_FOB_DIFF_lag5_lag1          35944 non-null  float64
 239  START_FOB_VS_FOB_FUELUSED_lag5_lag1    35944 non-null  float64
 240  ALTITUDE_DIFF_lag5_lag1                35944 non-null  float64
 241  UTC_TIME_lag10_lag1                    35944 non-null  datetime64[ns]
 242  FUEL_USED_2_lag10_lag1                 35944 non-null  float64
 243  FUEL_USED_3_lag10_lag1                 35944 non-null  float64
 244  FUEL_USED_4_lag10_lag1                 35944 non-null  float64
 245  FW_GEO_ALTITUDE_lag10_lag1             35944 non-null  float64
 246  VALUE_FOB_lag10_lag1                   35944 non-null  float64
 247  VALUE_FUEL_QTY_CT_lag10_lag1           35944 non-null  float64
 248  VALUE_FUEL_QTY_FT1_lag10_lag1          35944 non-null  float64
 249  VALUE_FUEL_QTY_FT2_lag10_lag1          35944 non-null  float64
 250  VALUE_FUEL_QTY_FT3_lag10_lag1          35944 non-null  float64
 251  VALUE_FUEL_QTY_FT4_lag10_lag1          35944 non-null  float64
 252  VALUE_FUEL_QTY_LXT_lag10_lag1          35944 non-null  float64
 253  VALUE_FUEL_QTY_RXT_lag10_lag1          35944 non-null  float64
 254  FUEL_USED_1_lag10_lag1                 35944 non-null  float64
 255  NEW_FLIGHT_lag10_lag1                  35944 non-null  object
 256  FLIGHT_ID_lag10_lag1                   35944 non-null  object
 257  START_FOB_lag10_lag1                   35944 non-null  float64
 258  TOTAL_FUEL_USED_lag10_lag1             35944 non-null  float64
 259  EXPECTED_FOB_lag10_lag1                35944 non-null  float64
 260  FOB_DIFFERENCE_lag10_lag1              35944 non-null  float64
 261  FOB_CHANGE_lag10_lag1                  35944 non-null  float64
 262  EXPECTED_FOB_CHANGE_lag10_lag1         35944 non-null  float64
 263  FUEL_LEAK_RATE_lag10_lag1              35944 non-null  float64
 264  TOTAL_FUEL_LW_lag10_lag1               35944 non-null  float64
 265  TOTAL_FUEL_RW_lag10_lag1               35944 non-null  float64
 266  LW_RW_DIFF_lag10_lag1                  35944 non-null  float64
 267  FUEL_IN_TANKS_lag10_lag1               35944 non-null  float64
 268  CALC_VALUE_FOB_DIFF_lag10_lag1         35944 non-null  float64
 269  START_FOB_VS_FOB_FUELUSED_lag10_lag1   35944 non-null  float64
 270  ALTITUDE_DIFF_lag10_lag1               35944 non-null  float64
 271  UTC_TIME_lag1_lag3                     35944 non-null  datetime64[ns]
 272  FUEL_USED_2_lag1_lag3                  35944 non-null  float64
 273  FUEL_USED_3_lag1_lag3                  35944 non-null  float64
 274  FUEL_USED_4_lag1_lag3                  35944 non-null  float64
 275  FW_GEO_ALTITUDE_lag1_lag3              35944 non-null  float64
 276  VALUE_FOB_lag1_lag3                    35944 non-null  float64
 277  VALUE_FUEL_QTY_CT_lag1_lag3            35944 non-null  float64
 278  VALUE_FUEL_QTY_FT1_lag1_lag3           35944 non-null  float64
 279  VALUE_FUEL_QTY_FT2_lag1_lag3           35944 non-null  float64
 280  VALUE_FUEL_QTY_FT3_lag1_lag3           35944 non-null  float64
 281  VALUE_FUEL_QTY_FT4_lag1_lag3           35944 non-null  float64
 282  VALUE_FUEL_QTY_LXT_lag1_lag3           35944 non-null  float64
 283  VALUE_FUEL_QTY_RXT_lag1_lag3           35944 non-null  float64
 284  FUEL_USED_1_lag1_lag3                  35944 non-null  float64

In [229]:
# Split data per FLIGHT_ID (to prevent leakage)
train_flights, test_flights = train_test_split(df_balanced['FLIGHT_ID'].unique(), test_size=0.2, random_state=42)

train_df = df_balanced[df_balanced['FLIGHT_ID'].isin(train_flights)]
test_df = df_balanced[df_balanced['FLIGHT_ID'].isin(test_flights)]

In [230]:
# Reset index (PyCaret needs a clean index)
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [231]:
# # Initialize PyCaret classification module
clf_setup = setup(
    data=train_df, 
    target=target,
    train_size=0.8,
    session_id=42, 
    fold_strategy="stratifiedkfold", 
    fold=5
)

In [232]:
best_model = compare_models(sort='Recall')

In [233]:
# Tune the best model for better recall
# tuned_model = tune_model(best_model, optimize='Recall')