# Imports

In [1]:
import pandas as pd
import numpy as np
from pycaret.classification import *
from sklearn.model_selection import train_test_split

# The dataset

In [2]:
df = pd.read_csv("combined_simulated.csv")

In [3]:
# Convert 'UTC_TIME' column to datetime format and sort by time
df['UTC_TIME'] = pd.to_datetime(df['UTC_TIME'])
df.sort_values(by=['FLIGHT_INSTANCE', 'UTC_TIME'], inplace=True)

In [4]:
# Dropping irrelvant columns
df = df.drop(columns=['FLIGHT_PHASE_COUNT', 'Flight','MSN', 'FLIGHT_INSTANCE', 'NEW_FLIGHT'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376554 entries, 0 to 337922
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   UTC_TIME                   376554 non-null  datetime64[ns]
 1   FUEL_USED_2                376554 non-null  float64
 2   FUEL_USED_3                376554 non-null  float64
 3   FUEL_USED_4                376554 non-null  float64
 4   FW_GEO_ALTITUDE            376554 non-null  float64
 5   VALUE_FOB                  376554 non-null  float64
 6   VALUE_FUEL_QTY_CT          376554 non-null  float64
 7   VALUE_FUEL_QTY_FT1         376554 non-null  float64
 8   VALUE_FUEL_QTY_FT2         376554 non-null  float64
 9   VALUE_FUEL_QTY_FT3         376554 non-null  float64
 10  VALUE_FUEL_QTY_FT4         376554 non-null  float64
 11  VALUE_FUEL_QTY_LXT         376554 non-null  float64
 12  VALUE_FUEL_QTY_RXT         376554 non-null  float64
 13  FUEL_USED_1                376554 non-null  float64
 14  FLIGHT_ID                  376554 non-null  object
 15  START_FOB                  376554 non-null  float64
 16  TOTAL_FUEL_USED            376554 non-null  float64
 17  EXPECTED_FOB               376554 non-null  float64
 18  FOB_DIFFERENCE             376554 non-null  float64
 19  FOB_CHANGE                 376554 non-null  float64
 20  EXPECTED_FOB_CHANGE        376554 non-null  float64
 21  FUEL_LEAK_RATE             376554 non-null  float64
 22  TOTAL_FUEL_LW              376554 non-null  float64
 23  TOTAL_FUEL_RW              376554 non-null  float64
 24  LW_RW_DIFF                 376554 non-null  float64
 25  FUEL_IN_TANKS              376554 non-null  float64
 26  CALC_VALUE_FOB_DIFF        376554 non-null  float64
 27  START_FOB_VS_FOB_FUELUSED  376554 non-null  float64
 28  ALTITUDE_DIFF              376554 non-null  float64
 29  LEAK_FLOW_FLAG             376554 non-null  int64
dtypes: datetime64[ns](1), float64(27), int64(1), object(1)
memory usage: 89.1+ MB

In [6]:
df['LEAK_FLOW_FLAG'].value_counts()

LEAK_FLOW_FLAG
0    343079
1     33475
Name: count, dtype: int64

### Cutting out all No-Leak Flights before 2017

In [7]:
# Identify flights with leaks (Keep these)
leak_flights = df[df["LEAK_FLOW_FLAG"] == 1]["FLIGHT_ID"].unique()

# Identify no-leak flights that started before 2017
no_leak_flights = df[df["LEAK_FLOW_FLAG"] == 0].groupby("FLIGHT_ID")["UTC_TIME"].min()
no_leak_flights_to_remove = no_leak_flights[no_leak_flights < "2017-10-22"].index

In [8]:
# Step 3: Keep all leak flights + no-leak flights that started in 2017 or later
df_filtered = df[df["FLIGHT_ID"].isin(leak_flights) | ~df["FLIGHT_ID"].isin(no_leak_flights_to_remove)]

In [9]:
print(f"Original dataset size: {df.shape[0]}")
print(f"Filtered dataset size: {df_filtered.shape[0]}")

Original dataset size: 376554
Filtered dataset size: 247584

In [10]:
df_filtered['LEAK_FLOW_FLAG'].value_counts()

LEAK_FLOW_FLAG
0    214109
1     33475
Name: count, dtype: int64

In [ ]:
# Get mean of leaks per flight (better than sum bc each flight may have varying flight durations)
flight_leak_counts = df_filtered.groupby("FLIGHT_ID")["LEAK_FLOW_FLAG"].mean()

# Compute the media Number of Leaks per Flight
median_leaks_per_flight = flight_leak_counts[flight_leak_counts > 0].median()
print(f"median Number of Leaks per Flight: {median_leaks_per_flight:.2f}")

# Select flights where the number of leaks is higher than the median
flights_with_leaks = flight_leak_counts[flight_leak_counts > median_leaks_per_flight].index

# EXTREME Reduction: Only keep 1% as many no-leak flights as leak flights
num_leak_flights = len(flights_with_leaks)  # Total number of flights with leaks
num_no_leak_flights = int(num_leak_flights * 0.80)  # Cut down no-leak flights aggressively

# Sample only the reduced number of no-leak flights
flights_no_leaks = flight_leak_counts[flight_leak_counts == 0].sample(
    n=num_no_leak_flights, 
    random_state=42
).index

# Keep only selected flights (Preserves sequences!)
df_balanced = df_filtered[df_filtered["FLIGHT_ID"].isin(flights_with_leaks.union(flights_no_leaks))]

median Number of Leaks per Flight: 0.25

In [12]:
df_balanced["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    76.336882
1    23.663118
Name: proportion, dtype: float64

In [13]:
df_balanced.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106423 entries, 153 to 337922
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   UTC_TIME                   106423 non-null  datetime64[ns]
 1   FUEL_USED_2                106423 non-null  float64
 2   FUEL_USED_3                106423 non-null  float64
 3   FUEL_USED_4                106423 non-null  float64
 4   FW_GEO_ALTITUDE            106423 non-null  float64
 5   VALUE_FOB                  106423 non-null  float64
 6   VALUE_FUEL_QTY_CT          106423 non-null  float64
 7   VALUE_FUEL_QTY_FT1         106423 non-null  float64
 8   VALUE_FUEL_QTY_FT2         106423 non-null  float64
 9   VALUE_FUEL_QTY_FT3         106423 non-null  float64
 10  VALUE_FUEL_QTY_FT4         106423 non-null  float64
 11  VALUE_FUEL_QTY_LXT         106423 non-null  float64
 12  VALUE_FUEL_QTY_RXT         106423 non-null  float64
 13  FUEL_USED_1                106423 non-null  float64
 14  FLIGHT_ID                  106423 non-null  object
 15  START_FOB                  106423 non-null  float64
 16  TOTAL_FUEL_USED            106423 non-null  float64
 17  EXPECTED_FOB               106423 non-null  float64
 18  FOB_DIFFERENCE             106423 non-null  float64
 19  FOB_CHANGE                 106423 non-null  float64
 20  EXPECTED_FOB_CHANGE        106423 non-null  float64
 21  FUEL_LEAK_RATE             106423 non-null  float64
 22  TOTAL_FUEL_LW              106423 non-null  float64
 23  TOTAL_FUEL_RW              106423 non-null  float64
 24  LW_RW_DIFF                 106423 non-null  float64
 25  FUEL_IN_TANKS              106423 non-null  float64
 26  CALC_VALUE_FOB_DIFF        106423 non-null  float64
 27  START_FOB_VS_FOB_FUELUSED  106423 non-null  float64
 28  ALTITUDE_DIFF              106423 non-null  float64
 29  LEAK_FLOW_FLAG             106423 non-null  int64
dtypes: datetime64[ns](1), float64(27), int64(1), object(1)
memory usage: 25.2+ MB

# Modeling

In [ ]:
# Select all features (except the target)
features = df_balanced.columns.tolist()
features.remove('LEAK_FLOW_FLAG')  # Remove target column from features

# Target variable
target = 'LEAK_FLOW_FLAG'

In [15]:
# Create lag features (memory for time-series)
def create_lag_features(df, features, lags=[1, 3, 5, 10]):
    """
    Adds past values (lags) as new features to help capture time dependency.
    """
    df = df.copy()
    for lag in lags:
        for feature in features:
            df[f'{feature}_lag{lag}'] = df.groupby('FLIGHT_ID')[feature].shift(lag)
    return df

df_balanced = create_lag_features(df_balanced, features, lags=[1, 3, 5, 10])

In [16]:
# Drop rows with NaN values (due to lagging)
df_balanced.dropna(inplace=True)

In [17]:
df_balanced.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 104143 entries, 163 to 337922
Data columns (total 146 columns):
 #    Column                           Non-Null Count   Dtype
---   ------                           --------------   -----
 0    UTC_TIME                         104143 non-null  datetime64[ns]
 1    FUEL_USED_2                      104143 non-null  float64
 2    FUEL_USED_3                      104143 non-null  float64
 3    FUEL_USED_4                      104143 non-null  float64
 4    FW_GEO_ALTITUDE                  104143 non-null  float64
 5    VALUE_FOB                        104143 non-null  float64
 6    VALUE_FUEL_QTY_CT                104143 non-null  float64
 7    VALUE_FUEL_QTY_FT1               104143 non-null  float64
 8    VALUE_FUEL_QTY_FT2               104143 non-null  float64
 9    VALUE_FUEL_QTY_FT3               104143 non-null  float64
 10   VALUE_FUEL_QTY_FT4               104143 non-null  float64
 11   VALUE_FUEL_QTY_LXT               104143 non-null  float64
 12   VALUE_FUEL_QTY_RXT               104143 non-null  float64
 13   FUEL_USED_1                      104143 non-null  float64
 14   FLIGHT_ID                        104143 non-null  object
 15   START_FOB                        104143 non-null  float64
 16   TOTAL_FUEL_USED                  104143 non-null  float64
 17   EXPECTED_FOB                     104143 non-null  float64
 18   FOB_DIFFERENCE                   104143 non-null  float64
 19   FOB_CHANGE                       104143 non-null  float64
 20   EXPECTED_FOB_CHANGE              104143 non-null  float64
 21   FUEL_LEAK_RATE                   104143 non-null  float64
 22   TOTAL_FUEL_LW                    104143 non-null  float64
 23   TOTAL_FUEL_RW                    104143 non-null  float64
 24   LW_RW_DIFF                       104143 non-null  float64
 25   FUEL_IN_TANKS                    104143 non-null  float64
 26   CALC_VALUE_FOB_DIFF              104143 non-null  float64
 27   START_FOB_VS_FOB_FUELUSED        104143 non-null  float64
 28   ALTITUDE_DIFF                    104143 non-null  float64
 29   LEAK_FLOW_FLAG                   104143 non-null  int64
 30   UTC_TIME_lag1                    104143 non-null  datetime64[ns]
 31   FUEL_USED_2_lag1                 104143 non-null  float64
 32   FUEL_USED_3_lag1                 104143 non-null  float64
 33   FUEL_USED_4_lag1                 104143 non-null  float64
 34   FW_GEO_ALTITUDE_lag1             104143 non-null  float64
 35   VALUE_FOB_lag1                   104143 non-null  float64
 36   VALUE_FUEL_QTY_CT_lag1           104143 non-null  float64
 37   VALUE_FUEL_QTY_FT1_lag1          104143 non-null  float64
 38   VALUE_FUEL_QTY_FT2_lag1          104143 non-null  float64
 39   VALUE_FUEL_QTY_FT3_lag1          104143 non-null  float64
 40   VALUE_FUEL_QTY_FT4_lag1          104143 non-null  float64
 41   VALUE_FUEL_QTY_LXT_lag1          104143 non-null  float64
 42   VALUE_FUEL_QTY_RXT_lag1          104143 non-null  float64
 43   FUEL_USED_1_lag1                 104143 non-null  float64
 44   FLIGHT_ID_lag1                   104143 non-null  object
 45   START_FOB_lag1                   104143 non-null  float64
 46   TOTAL_FUEL_USED_lag1             104143 non-null  float64
 47   EXPECTED_FOB_lag1                104143 non-null  float64
 48   FOB_DIFFERENCE_lag1              104143 non-null  float64
 49   FOB_CHANGE_lag1                  104143 non-null  float64
 50   EXPECTED_FOB_CHANGE_lag1         104143 non-null  float64
 51   FUEL_LEAK_RATE_lag1              104143 non-null  float64
 52   TOTAL_FUEL_LW_lag1               104143 non-null  float64
 53   TOTAL_FUEL_RW_lag1               104143 non-null  float64
 54   LW_RW_DIFF_lag1                  104143 non-null  float64
 55   FUEL_IN_TANKS_lag1               104143 non-null  float64
 56   CALC_VALUE_FOB_DIFF_lag1         104143 non-null  float64
 57   START_FOB_VS_FOB_FUELUSED_lag1   104143 non-null  float64
 58   ALTITUDE_DIFF_lag1               104143 non-null  float64
 59   UTC_TIME_lag3                    104143 non-null  datetime64[ns]
 60   FUEL_USED_2_lag3                 104143 non-null  float64
 61   FUEL_USED_3_lag3                 104143 non-null  float64
 62   FUEL_USED_4_lag3                 104143 non-null  float64
 63   FW_GEO_ALTITUDE_lag3             104143 non-null  float64
 64   VALUE_FOB_lag3                   104143 non-null  float64
 65   VALUE_FUEL_QTY_CT_lag3           104143 non-null  float64
 66   VALUE_FUEL_QTY_FT1_lag3          104143 non-null  float64
 67   VALUE_FUEL_QTY_FT2_lag3          104143 non-null  float64
 68   VALUE_FUEL_QTY_FT3_lag3          104143 non-null  float64
 69   VALUE_FUEL_QTY_FT4_lag3          104143 non-null  float64
 70   VALUE_FUEL_QTY_LXT_lag3          104143 non-null  float64
 71   VALUE_FUEL_QTY_RXT_lag3          104143 non-null  float64
 72   FUEL_USED_1_lag3                 104143 non-null  float64
 73   FLIGHT_ID_lag3                   104143 non-null  object
 74   START_FOB_lag3                   104143 non-null  float64
 75   TOTAL_FUEL_USED_lag3             104143 non-null  float64
 76   EXPECTED_FOB_lag3                104143 non-null  float64
 77   FOB_DIFFERENCE_lag3              104143 non-null  float64
 78   FOB_CHANGE_lag3                  104143 non-null  float64
 79   EXPECTED_FOB_CHANGE_lag3         104143 non-null  float64
 80   FUEL_LEAK_RATE_lag3              104143 non-null  float64
 81   TOTAL_FUEL_LW_lag3               104143 non-null  float64
 82   TOTAL_FUEL_RW_lag3               104143 non-null  float64
 83   LW_RW_DIFF_lag3                  104143 non-null  float64
 84   FUEL_IN_TANKS_lag3               104143 non-null  float64
 85   CALC_VALUE_FOB_DIFF_lag3         104143 non-null  float64
 86   START_FOB_VS_FOB_FUELUSED_lag3   104143 non-null  float64
 87   ALTITUDE_DIFF_lag3               104143 non-null  float64
 88   UTC_TIME_lag5                    104143 non-null  datetime64[ns]
 89   FUEL_USED_2_lag5                 104143 non-null  float64
 90   FUEL_USED_3_lag5                 104143 non-null  float64
 91   FUEL_USED_4_lag5                 104143 non-null  float64
 92   FW_GEO_ALTITUDE_lag5             104143 non-null  float64
 93   VALUE_FOB_lag5                   104143 non-null  float64
 94   VALUE_FUEL_QTY_CT_lag5           104143 non-null  float64
 95   VALUE_FUEL_QTY_FT1_lag5          104143 non-null  float64
 96   VALUE_FUEL_QTY_FT2_lag5          104143 non-null  float64
 97   VALUE_FUEL_QTY_FT3_lag5          104143 non-null  float64
 98   VALUE_FUEL_QTY_FT4_lag5          104143 non-null  float64
 99   VALUE_FUEL_QTY_LXT_lag5          104143 non-null  float64
 100  VALUE_FUEL_QTY_RXT_lag5          104143 non-null  float64
 101  FUEL_USED_1_lag5                 104143 non-null  float64
 102  FLIGHT_ID_lag5                   104143 non-null  object
 103  START_FOB_lag5                   104143 non-null  float64
 104  TOTAL_FUEL_USED_lag5             104143 non-null  float64
 105  EXPECTED_FOB_lag5                104143 non-null  float64
 106  FOB_DIFFERENCE_lag5              104143 non-null  float64
 107  FOB_CHANGE_lag5                  104143 non-null  float64
 108  EXPECTED_FOB_CHANGE_lag5         104143 non-null  float64
 109  FUEL_LEAK_RATE_lag5              104143 non-null  float64
 110  TOTAL_FUEL_LW_lag5               104143 non-null  float64
 111  TOTAL_FUEL_RW_lag5               104143 non-null  float64
 112  LW_RW_DIFF_lag5                  104143 non-null  float64
 113  FUEL_IN_TANKS_lag5               104143 non-null  float64
 114  CALC_VALUE_FOB_DIFF_lag5         104143 non-null  float64
 115  START_FOB_VS_FOB_FUELUSED_lag5   104143 non-null  float64
 116  ALTITUDE_DIFF_lag5               104143 non-null  float64
 117  UTC_TIME_lag10                   104143 non-null  datetime64[ns]
 118  FUEL_USED_2_lag10                104143 non-null  float64
 119  FUEL_USED_3_lag10                104143 non-null  float64
 120  FUEL_USED_4_lag10                104143 non-null  float64
 121  FW_GEO_ALTITUDE_lag10            104143 non-null  float64
 122  VALUE_FOB_lag10                  104143 non-null  float64
 123  VALUE_FUEL_QTY_CT_lag10          104143 non-null  float64
 124  VALUE_FUEL_QTY_FT1_lag10         104143 non-null  float64
 125  VALUE_FUEL_QTY_FT2_lag10         104143 non-null  float64
 126  VALUE_FUEL_QTY_FT3_lag10         104143 non-null  float64
 127  VALUE_FUEL_QTY_FT4_lag10         104143 non-null  float64
 128  VALUE_FUEL_QTY_LXT_lag10         104143 non-null  float64
 129  VALUE_FUEL_QTY_RXT_lag10         104143 non-null  float64
 130  FUEL_USED_1_lag10                104143 non-null  float64
 131  FLIGHT_ID_lag10                  104143 non-null  object
 132  START_FOB_lag10                  104143 non-null  float64
 133  TOTAL_FUEL_USED_lag10            104143 non-null  float64
 134  EXPECTED_FOB_lag10               104143 non-null  float64
 135  FOB_DIFFERENCE_lag10             104143 non-null  float64
 136  FOB_CHANGE_lag10                 104143 non-null  float64
 137  EXPECTED_FOB_CHANGE_lag10        104143 non-null  float64
 138  FUEL_LEAK_RATE_lag10             104143 non-null  float64
 139  TOTAL_FUEL_LW_lag10              104143 non-null  float64
 140  TOTAL_FUEL_RW_lag10              104143 non-null  float64
 141  LW_RW_DIFF_lag10                 104143 non-null  float64
 142  FUEL_IN_TANKS_lag10              104143 non-null  float64
 143  CALC_VALUE_FOB_DIFF_lag10        104143 non-null  float64
 144  START_FOB_VS_FOB_FUELUSED_lag10  104143 non-null  float64
 145  ALTITUDE_DIFF_lag10              104143 non-null  float64
dtypes: datetime64[ns](5), float64(135), int64(1), object(5)
memory usage: 116.8+ MB

In [ ]:
# Sort flights by their first recorded timestamp
flight_start_times = df_balanced.groupby("FLIGHT_ID")["UTC_TIME"].min().sort_values()

# Define the split point (80% train, 20% test)
split_index = int(len(flight_start_times) * 0.8)  # Get the 80% split point

# Assign the first 80% of flights to training, last 20% to testing
train_flights = flight_start_times.index[:split_index]  # First 80% of flights
test_flights = flight_start_times.index[split_index:]  # Last 20% of flights

In [19]:
train_df = df_balanced[df_balanced["FLIGHT_ID"].isin(train_flights)]
test_df = df_balanced[df_balanced["FLIGHT_ID"].isin(test_flights)]

In [20]:
train_df["LEAK_FLOW_FLAG"].value_counts(normalize=True) * 100

LEAK_FLOW_FLAG
0    74.962521
1    25.037479
Name: proportion, dtype: float64

In [21]:
# Reset index (PyCaret needs a clean index)
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

### Pycaret Classification

In [ ]:
# Use `timeseries` fold strategy while enforcing all required settings
clf_setup = setup(
    data=train_df, 
    target=target,
    train_size=0.8,
    session_id=42, 
    fold_strategy="timeseries",  # Time-based validation
    fold=5,
    data_split_shuffle=False,  # Prevents PyCaret from shuffling time order
    fold_shuffle=False,  # Ensures validation comes AFTER training
    data_split_stratify=False  # Disables stratification (not allowed with time-series)
)

In [ ]:
# Use `timeseries` fold strategy WITHOUT re-splitting
clf_setup = setup(
    data=train_df, 
    target=target,
    session_id=42, 
    fold_strategy="timeseries",  # Time-based validation
    fold=5,
    data_split_shuffle=False,  # Prevents PyCaret from shuffling time order
    fold_shuffle=False,  # Ensures validation comes AFTER training
    data_split_stratify=False  # Disables stratification (not allowed with time-series)
)

In [27]:
best_model = compare_models(sort='f1')

In [ ]:
# Prepare `test_df` (drop target column)
X_test = test_df.drop(columns=[target])
y_test = test_df[target]

# Make Predictions on `test_df` (Unseen Data)
y_pred = predict_model(best_model, data=X_test)

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Extract Predictions
y_pred_labels = y_pred["prediction_label"]  # Predicted classes (0 or 1)
y_pred_scores = y_pred["prediction_score"]  # Predicted probability for class 1

# Compute Final Test Metrics
accuracy = accuracy_score(y_test, y_pred_labels)
precision = precision_score(y_test, y_pred_labels)
recall = recall_score(y_test, y_pred_labels)
f1 = f1_score(y_test, y_pred_labels)
roc_auc = roc_auc_score(y_test, y_pred_scores)  # Uses probability for AUC-ROC

# Print Final Test Results
print(f"Final Test Set Results:")
print(f"Accuracy:  {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall:    {recall:.4f}")
print(f"F1-Score:  {f1:.4f}")
print(f"ROC-AUC:   {roc_auc:.4f}")

Final Test Set Results:
Accuracy:  0.7949
Precision: 0.4952
Recall:    0.3837
F1-Score:  0.4324
ROC-AUC:   0.1287